#root {
  width: 100vw;
  height: 100vh;
  background-color:gray;
}
body{
  margin: 0;
  padding: 0;
}
.custom-marquee {
        text-align: center;
        color: blue; 
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
}
